/Git/EnterpriseApplication1/Drawdede-war/build/
/Git/EnterpriseApplication1/Drawdede-ejb/dist/
/Git/EnterpriseApplication1/Drawdede-ejb/build/
/Git/EnterpriseApplication1/build/
/Git/EnterpriseApplication1/dist/
/Git/EnterpriseApplication1/Drawdede-war/dist/